# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce_dev?schema=public"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Jood E-Commerce"

# API
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
